pipeline/ETLJsonFilesADLS2.json
{
	"name": "ETLJsonFilesADLS2",
	"properties": {
		"activities": [
			{
				"name": "GetFilenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "WorksafeBCJsonMetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEachJson",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilenames').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ETLJsonFIle",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "WorksafeBCJsonFlow",
									"type": "DataFlowReference",
									"parameters": {
										"Filename": {
											"value": "'@{item().Name}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"WorksafeBCJsonStream": {
											"Filename": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-12T17:13:56Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}